# Dependencies
node_modules/
.pnp
.pnp.js

# Build and production outputs
.next/
.next*/
**/.next*/
dist/
**/dist/
out/
**/out/
build/
**/build/
*.tsbuildinfo
**/*.tsbuildinfo

# Environment files and secrets
.env
.env.*
!.env.example
*.pem
*.key

# Debug and runtime logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS and Editor files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/
